# Banco de dados
MYSQL_DATABASE=telascore_db
MYSQL_ROOT_PASSWORD=defina-uma-senha-root
MYSQL_USER=telascore
MYSQL_PASSWORD=defina-uma-senha
MYSQL_PORT=3307

# Backend
BACKEND_PORT=8080
TELASCORE_TOKEN_SECRET=defina-um-token

# Frontend
FRONTEND_PORT=3000
REACT_APP_API_URL=

# Catálogo TMDB
TMDB_API_KEY=adicione-sua-chave-do-tmdb
TMDB_CATALOG_PAGES=20
